body {
  margin: 0px;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 20px;
}
.tieude {
  margin-left: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  font-weight: bold;
  color: #0c4ca3;
}
nav {
  background-color: #0c4ca3;
  margin: 10px;
  justify-content: center;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-family: Roboto, Arial, Tahoma;
}

li {
  padding: 15px;
}

.border {
  border-right: 2px solid #f1f1f2;
}

.banner-adv {
  display: flex;
  justify-content: center;
}
.adv {
  display: flex;
  justify-content: space-between;
}
header {
  border-bottom: 12px solid gray;
  border-radius: 2px;
}
.tintuc {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}
.tintuc-phan {
  border: 1px solid #b3b3b3;
  border-radius: 2px;
  padding: 10px;
}
.tintuc-phan img {
  width: 100%;
  height: auto;
  border-radius: 2px;
}
.thongtin {
  padding: 10px;
}
.thongbao {
  display: flex;
  padding: 15px;
  gap: 100px;
}

footer {
  background-color: #001a3f;
  color: white;
  text-align: start;
  padding: 20px;
  font-family: Roboto, Arial, Tahoma;
  display: flex;
  justify-content: center;
  gap: 30px;
}
a {
  text-decoration: none;
  color: white;
}
.item {
  text-align: left;
}

.td_tuyensinh {
  display: flex;
  gap: 100px;
  align-items: center;
}
.banquyen {
  display: block;
}
